@model GitNinja.Gallery.Web.Models.Dojo
@{
    ViewBag.Title = Model.Name;
}
<h2>@Model.Name</h2>
@if (Model.Any())
{
<ul>
@foreach (var item in Model)
{
    <li>@Html.ActionLink(item.Name, "Repo", new { dojo = item.Dojo, repo = item.Name })</li>
}
</ul>
}
@using (Html.BeginForm("Create", "Dojo", FormMethod.Get))
{
    @Html.TextBox("repo")<br />
    @Html.Hidden("dojo", Model.Name)
    <input type="submit" value="Create Repo" />
}